.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 50px;
}

.description {
    font-size: 20px;
    margin-bottom: 20px;
}