.content {
    width: 75vw;
    margin-top: 10vh;
    display: flex;
}

.icon {
    width: 37px;
    height: 37px;
}

.title {
    font-size: 28px;
    line-height: 34px;
    margin-left: 20px;
    color: #333333;
}

.divider {
    height: 2px;
    width: 100%;
    background-color: #EAEAEA;
    margin-top: 3vh;
    margin-bottom: 3vh;
}